* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;

    color: inherit;
    font-size: inherit;
    line-height: inherit;
    font-family: inherit;
}

body {
    font-size: 18px;
    line-height: 1.4;
    font-weight: 400;
    color: black;
    font-family: 'Montserrat', sans-serif;
}


input[type='button'], input[type='reset'], button {
    cursor: pointer;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
    position: relative;
}

input[type=number]:before {
    content: '+380';
    position: absolute;
    background: red;
    height: 10px;
    width: 20px;
    top: 4px;
    left: 4px;
    display: block;

}

h2 {
    font-size: 32px;
    line-height: 38px;
}

.container {
    max-width: 527px;
    margin: 100px auto;
}

form {
    background: #54ac77;
    border-radius: 12px;
    padding: 20px;
}

form h2 {
    background: linear-gradient(90.13deg, #F0145A 0.84%, #5b5efd 99.96%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    margin-bottom: 20px;
}

form h3 {
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #090909;
    margin-bottom: 10px;
}

form textarea {
    height: 180px;
    resize: none;
}

.input {
    background: #FFFFFF;
    display: block;
    width: 100%;
    line-height: 26px;
    border-radius: 8px;
    padding: 11px 10px 10px;
    margin-bottom: 20px;
    border: 2px solid transparent;
    transition: all 0.3s ease-in-out;
}

.input::placeholder {
    color: #d4005d;
}

.input:focus {
    border-color: #7e00d2;
}

.input:disabled {
    opacity: 0.7;
}


.btn {
    padding: 16px 24px 17px;
    box-shadow: 0 0 20px rgba(36, 163, 255, 0.5);
    border-radius: 12px;
    background: #24A3FF;
    color: #FFFFFF;
    display: block;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}

.btn:hover {
    background: #0085FF;
    box-shadow: 0 0 30px rgba(36, 163, 255, 0.5);
}

.btn:active {
    background: #006CCF;
}

form .btn {
    max-width: 250px;
    width: 100%;
    margin: 0 auto;
}
